body {
    margin: 0;
    background: #f5f7fa;
    font-family: Poppins, sans-serif;
}

.regie-content {
    margin-left: 260px;
    padding: 35px;
}

h1 {
    margin-top: 0;
    color: #333;
    font-size: 28px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 25px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.07);
    transition: 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin: 0;
    color: #666;
}

.card p {
    margin-top: 10px;
    font-size: 28px;
    color: #222;
}
