body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #e9f2ff, #dceeff);
    text-align: center;
}

header {
    margin-top: 40px;
}

h1 {
    font-size: 48px;
    color: #1d50d8;
    margin-bottom: 5px;
    animation: fadeDown 0.8s ease-out;
}

.subtitle {
    font-size: 20px;
    color: #555;
    animation: fadeIn 1s ease-out;
}

.grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.25s;
    animation: fadeUp 0.6s ease-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.13);
}

.card h2 {
    color: #1d50d8;
    margin-bottom: 10px;
}

.card p {
    color: #555;
    font-size: 16px;
}

.card.logout {
    background: #ffeded;
}

.card.logout h2 {
    color: #d10000;
}

/* ANIMATIONS */
@keyframes fadeUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
